/.well-known/
/aspnet_client/
/infowarden/
/keys/
/temp/
/uploads/
/wp-admin/
/wp-content/
/wp-includes/
/.htaccess
/.user.ini
/aios-bootstrap.php
/index.php
/license.txt
/readme.html
/web.config
/web.config-new
/web.config-orig
/wordfence-waf.php
/wp-activate.php
/wp-blog-header.php
/wp-comments-post.php
/wp-config-sample.php
/wp-config.php
/wp-cron.php
/wp-index-maintenance.php
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php